.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
  grid-template-areas:
    "image1 image2 image3 image4"
    "image5 image6 image7 image8";
}

.gallery__image1 {
  grid-area: image1;
  width: 284px;
}

.gallery__image2 {
  grid-area: image2;
  width: 284px;
}

.gallery__image3 {
  grid-area: image3;
  width: 284px;
}

.gallery__image4 {
  grid-area: image4;
  width: 284px;
}

.gallery__image5 {
  grid-area: image5;
  width: 284px;
}

.gallery__image6 {
  grid-area: image6;
  width: 284px;
}

.gallery__image7 {
  grid-area: image7;
  width: 284px;
}

.gallery__image8 {
  grid-area: image8;
  width: 284px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "image1 image2"
      "image3 image4"
      "image5 image6"
      "image7 image8";
  }
  .gallery__image1 {
    grid-area: image1;
    width: 352px;
  }
  .gallery__image2 {
    grid-area: image2;
    width: 352px;
  }
  .gallery__image3 {
    grid-area: image3;
    width: 352px;
  }
  .gallery__image4 {
    grid-area: image4;
    width: 352px;
  }
  .gallery__image5 {
    grid-area: image5;
    width: 352px;
  }
  .gallery__image6 {
    grid-area: image6;
    width: 352px;
  }
  .gallery__image7 {
    grid-area: image7;
    width: 352px;
  }
  .gallery__image8 {
    grid-area: image8;
    width: 352px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 12px 12px;
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7"
      "image8";
  }
  .gallery__image1 {
    grid-area: image1;
    width: 288px;
  }
  .gallery__image2 {
    grid-area: image2;
    width: 288px;
  }
  .gallery__image3 {
    grid-area: image3;
    width: 288px;
  }
  .gallery__image4 {
    grid-area: image4;
    width: 288px;
  }
  .gallery__image5 {
    grid-area: image5;
    width: 288px;
  }
  .gallery__image6 {
    grid-area: image6;
    width: 288px;
  }
  .gallery__image7 {
    grid-area: image7;
    width: 288px;
  }
  .gallery__image8 {
    grid-area: image8;
    width: 288px;
  }
}
